{% extends "layout/dashboard.html" %}

{% block hprincipal %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/vendors.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/app-lite.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='dashboard/css/core/menu/menu-types/vertical-menu.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='dashboard/css/core/colors/palette-gradient.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='dashboard/css/pages/line-awesome.min.css')}}">

{% endblock  %}

{% block sprincipal %}

{% endblock  %}


{% block topbar %}
{% include'elements/include_style/topbar.html'%}
{% endblock  %}

{% block menusidebar %}
{% include'elements/include_style/menusidebar.html'%}
{% endblock  %}

{% block body %}


<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12">
                <h3 class="content-header-title">Ajouter founisseur</h3>
            </div>
            <div class="content-header-right col-md-8 col-12 mb-4">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{url_for('categorie.index')}}">Carnet d'adresse</a>
                            </li>
                            <li class="breadcrumb-item active">Ajouter founisseur
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">

            <div class="basic-inputs">
                <div class="row match-height">
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Carnet d'adresse du founisseur</h4>
                            </div>
                            <div class="card-block">
                                <div class="card-body">

                                    <form action="" method="POST">

                                        {{ form.csrf_token }}
                                        {% with messages= get_flashed_messages(with_categories=true) %}
                                        {% if messages  %}
                                        {% for category, message in messages %}
                                        {%if category!="danger"%}
                                        <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2"
                                            role="alert">
                                            <span class="alert-icon">
                                                <i class="ft-thumbs-up"></i>
                                            </span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <strong>{{ message }}!</strong>

                                        </div>
                                        {%else%}
                                        <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2"
                                            role="alert">
                                            <span class="alert-icon">
                                                <i class="ft-thumbs-down"></i>
                                            </span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <strong>{{ message }}!</strong>

                                        </div>
                                        {%endif%}

                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Nom du fournisseur</label>
                                                    {% if form.nom_fourn.errors %}
                                                    {{ form.nom_fourn(class="form-control input-lg is-invalid")}}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.nom_fourn.errors %}
                                                        <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                    {{ form.nom_fourn(class="form-control input-lg")}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label>N° téléphone</label>
                                                    {% if form.tel_fourn.errors %}
                                                    {{ form.tel_fourn(class="form-control input-lg is-invalid")}}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.tel_fourn.errors %}
                                                        <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                    {{ form.tel_fourn(class="form-control input-lg")}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label>E-mail</label>
                                                    {% if form.email.errors %}
                                                    {{ form.email(class="form-control input-lg is-invalid")}}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.email.errors %}
                                                        <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                    {{ form.email(class="form-control input-lg")}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Adresse physique</label>
                                                    {% if form.adresse.errors %}
                                                    {{ form.adresse(class="form-control input-lg is-invalid")}}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.adresse.errors %}
                                                        <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                    {{ form.adresse(class="form-control input-lg")}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center mb-1">
                                            <button class="btn btn-danger btn-min-width mr-1 mb-1" id="submit"
                                                name="submit" type="submit">
                                                <i class="la la-user-plus"></i> Ajouter fournisseur
                                            </button>

                                        </div>


                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                </div>

            </div>

        </div>
    </div>
</div>



</div>







{% endblock  %}









{% block footer %}
{% include'elements/include_style/footer.html'%}
{% endblock  %}


{% block pfooter %}

<script type="text/javascript" src="{{ url_for('static', filename='dashboard/vendors/js/vendors.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-menu-lite.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-lite.js')}}"></script>
<script type="text/javascript"
    src="{{ url_for('static', filename='dashboard/vendors/js/forms/tags/form-field.js')}}"></script>

{% endblock  %}