{% extends "layout/dashboard.html" %}

{% block hprincipal %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/vendors.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/app-lite.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='dashboard/css/core/menu/menu-types/vertical-menu.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='dashboard/css/core/colors/palette-gradient.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='dashboard/css/pages/line-awesome.min.css')}}">

<script src=" {{ url_for('static', filename='summnernote/jquer.js')}} "></script>
<link rel="stylesheet" href="{{ url_for('static', filename='summnernote/summernote-lite.css')}} ">
<script src="{{ url_for('static', filename='summnernote/summernote-lite.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='dashboard/select2/select2.min.css')}} ">
<link rel="stylesheet" href="{{ url_for('static',filename='dashboard/select2/select2.css')}} ">
<link rel="stylesheet" href="{{ url_for('static',filename='datepicker/datepicker.css')}} ">

{% endblock  %}

{% block sprincipal %}

{% endblock  %}


{% block topbar %}
{% include'elements/include_style/topbar.html'%}
{% endblock  %}

{% block menusidebar %}
{% include'elements/include_style/menusidebar.html'%}
{% endblock  %}

{% block body %}


<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12">
                <h3 class="content-header-title">Modifier la rubrique</h3>
            </div>
            <div class="content-header-right col-md-8 col-12 mb-4">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{url_for('depense.index')}}">Rubrique</a>
                            </li>
                            <li class="breadcrumb-item active">Modifier la rubrique
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">

            <div class="basic-inputs">
                <div class="row match-height">
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Modifier la rubrique</h4>
                            </div>
                            <div class="card-block">
                                <div class="card-body">
                                    <form action="" method="POST">
    
                                        {{ form.csrf_token }}
                                        {% with messages= get_flashed_messages(with_categories=true) %}
                                        {% if messages  %}
                                        {% for category, message in messages %}
                                        {%if category!="danger"%}
                                            <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2" role="alert">
                                                <span class="alert-icon">
                                                    <i class="ft-thumbs-up"></i>
                                                </span>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}!</strong> 
                                                
                                            </div>
                                        {%else%}
                                            <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2" role="alert">
                                                <span class="alert-icon">
                                                    <i class="ft-thumbs-down"></i>
                                                </span>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}!</strong>
                                                
                                            </div>
                                        {%endif%}
                                        
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Nom de la  rubrique</label>
                                                    {% if form.rubrique.errors %}
                                                    {{ form.rubrique(class="form-control input-lg is-invalid")}}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.rubrique.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                    {{ form.rubrique(class="form-control input-lg")}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Gestion de:</label>
                                                    {% if form.branche_depense.errors %}
                                                    {{ form.branche_depense(class="form-control input-lg is-invalid")}}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.branche_depense.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                    {{ form.branche_depense(class="form-control input-lg")}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                            <div class="text-center mb-1">
                                                <button class="btn btn-warning btn-min-width mr-1 mb-1" id="submit" name="submit" type="submit">
                                                    <i class="la la-edit"></i> Edit une rubrique
                                                </button>  
                                            </div>
                                    
            
                                    </form>
                                  
                                  
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                </div>

            </div>
            
        </div>
    </div>
</div>



</div>







{% endblock  %}









{% block footer %}
{% include'elements/include_style/footer.html'%}
{% endblock  %}


{% block pfooter %}

<script type="text/javascript" src="{{ url_for('static', filename='dashboard/vendors/js/vendors.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-menu-lite.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-lite.js')}}"></script>
<script type="text/javascript"
    src="{{ url_for('static', filename='dashboard/vendors/js/forms/tags/form-field.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='dashboard/select2/select2.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='dashboard/select2/scripts.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='datepicker/datepicker.js')}}"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
</script>

{% endblock  %}