  <!-- BEGIN VENDOR JS-->

  <script type="text/javascript" src="{{ url_for('static', filename='dashboard/vendors/js/vendors.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dashboard/vendors/js/charts/chartist.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-menu-lite.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-lite.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/scripts/pages/dashboard-lite.js')}}"></script>
