{% extends "layout/impression.html" %}

{% block hprincipal %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/vendors.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/vendors.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/app-lite.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='dashboard/css/core/menu/menu-types/vertical-menu.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='dashboard/css/core/colors/palette-gradient.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}} ">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='dashboard/css/pages/line-awesome.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<script src="{{url_for('static', filename='html2pdf.bundle.min.js')}}"></script>
<script>
    function generatePDF() {

        const element = document.getElementById("rapport");
        html2pdf()
            .set({ html2canvas: { scale: 4 } })
            .from(element)
            .save();
    }
</script>
{% endblock  %}

{% block body %}
<div class="col-lg-12 col-md-12 text-center">
    <a onclick="generatePDF()" class="btn btn-sm btn-warning"><i class="la la-file-pdf-o"></i></a>
</div>

<div id="rapport" class="row">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10">
        
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center"  style="margin-top: 20px;">
                <div>
                    <strong>
                        {%if current_user.user_entreprise !=None %}
                        {{current_user.user_entreprise.denomination}}
                        {%endif%}
                    </strong>
                </div>
                <div>{%if current_user.user_entreprise !=None %}
                    {{current_user.user_entreprise.adresse}}
                    {%endif%}
                </div>
                <div>{%if current_user.user_entreprise !=None %}
                    {{current_user.user_entreprise.siege_social}}
                    {%endif%}
                </div>
                <div>{%if current_user.user_entreprise !=None %}
                    Phone:{{current_user.user_entreprise.telephone}}
                    {%endif%}
                </div>
                <div>{%if current_user.user_entreprise !=None %}
                    E-mail:{{current_user.user_entreprise.email}}
                    {%endif%}
                </div>
                <div>{%if current_user.user_entreprise !=None %}
                    {{current_user.user_entreprise.personalite}}
                    {%endif%}
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12">
                <br><br>
                <h2 class="text-center">INVENTAIRE PERMANENT EN DATE DU {{date_in}} </h2>
            </div>
            <br>

            <div class="col-lg-12 col-md-12 ">
                <br><br>
                <p class="text-justify">Inventaire du stock est éffectué suivant les produits perrisables et non perrissable.
                    Pour les porduits perrisables on utilise <b>PEPS</b>.
                    Pour les produits non perrisables on utilise <b>CUMP</b>. <br>
                    <i>
                        <b>
                    NP: Non perrissable <br>
                    P: Perrisable
                </b>
                    </i>


    
                </p>
            </div>
        </div>

        <br><br>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">avatar</th>
                            <th scope="col">Produit</th>
                            <th class="text-center" scope="col">Qté</th>
                            <th class="text-center" scope="col">Prix unitaire </th>
                            <th class="text-center" scope="col">Valeur </th>
                            <th class="text-center" scope="col">Type produit </th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in inventaire%}
                        <tr>
                            <td> {{loop.index}} </td>
                            <td><img class="rounded" src=" {{url_for('static', filename='produit/{}'.format(i[1]))}} " height="40px" width="40px"></td>
                            <td >{{i[2]}}</td>
                            <td class="text-center" >
                            {%if i[7]=='Vrac'%}
                                {%if i[3] > 1 %}
                                    {{i[3] }}  Pièces
                                {%else%}
                                    {{i[3] }}  Pièce
                                {%endif%}
                            {%else%}
                                {%if i[3] >= 0  and i[7]=="Box" %}
                                    {{i[3]}}  Pièce ( {{ (i[3]/i[8])|round(1) }} {{i[7] }} )
                                {%elif i[3] > 1  and i[7] !="Box" %}
                                    {{i[3]}} Pièces ( {{ (i[3]/i[8])|round(1) }} {{i[7] }}s )
                                {%else%}
                                    {{i[3]}} Pièces ( {{ (i[3]/i[8])|round(1) }} {{i[7] }} )
                                {%endif%}
                            {%endif%}

                            </td>
                            <td class="text-center"  >$ {{i[4]|round(2)}}</td>
                            <td class="text-center" >$ {{i[5]|round(2)}}</td>
                            <td class="text-center" >
                                {%if i[6]==0%}
                                    NP
                                {%else%}
                                    P
                                {%endif%}
                            </td>
                        </tr>
                        {%endfor%}
                        <tr class="bg-warning">
                            <th colspan="5"><h5 > <b>Valeur totale</b> </h5> </th>
                             <td class="text-center"> <h5> <b>$ {{valeur|round(2)}} </b> </h5> </td>
                             <td></td>
                        </tr>
                    </tbody>

                </table>



            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
</div>



{% endblock  %}


{% block pfooter %}

<script type="text/javascript" src="{{ url_for('static', filename='dashboard/vendors/js/vendors.min.js')}}"></script>
<script type="text/javascript"
    src="{{ url_for('static', filename='dashboard/vendors/js/charts/chart.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-menu-lite.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-lite.js')}}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    $(window).on("load", function () {

        //Get the context of the Chart canvas element we want to select
        var ctx = $("#line-chart");

        // Chart Options
        var chartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom',
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "#f3f3f3",
                        drawTicks: false,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Client'
                    }
                }],
                yAxes: [{
                    display: true,
                    gridLines: {
                        color: "#f3f3f3",
                        drawTicks: false,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Montant en $'
                    }
                }]
            },
            title: {
                display: true,
                text: 'Evolution des  dettes'
            }
        };

        // Chart Data
        var chartData = {
            labels: [{% for item in label %}"{{item}}", {% endfor %}],
        datasets: [{
            label: "Dette en USD",
            data: [{% for item in series %}{{ item }}, {% endfor %}],
        lineTension: 0,
        fill: false,
        borderColor: "#FF7D4D",
        pointBorderColor: "#FF7D4D",
        pointBackgroundColor: "#FFF",
        pointBorderWidth: 2,
        pointHoverBorderWidth: 2,
        pointRadius: 4,
    }]
};

    var config = {
        type: 'line',

        // Chart Options
        options: chartOptions,

        data: chartData
    };

    // Create the chart
    var lineChart = new Chart(ctx, config);
});
</script>

{% endblock  %}