{% extends "layout/dashboard.html" %}
{% block hprincipal %}
    {% include'elements/include_style/hprincipale.html'%}
{% endblock  %} 

{% block topbar %}
    {% include'elements/include_style/topbar.html'%}
{% endblock  %} 

{% block menusidebar %}
    {% include'elements/include_style/menusidebar.html'%}
{% endblock  %} 

{% block footer %}
    {% include'elements/include_style/footer.html'%}
{% endblock  %} 


{% block pfooter %}
    {% include'elements/include_style/jprincipal.html'%}
{% endblock  %} 