{% extends "layout/dashboard.html" %}

{% block hprincipal %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/vendors.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/app-lite.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/core/menu/menu-types/vertical-menu.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/core/colors/palette-gradient.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}} ">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/css/pages/line-awesome.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='dashboard/select2/select2.min.css')}} ">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

{% endblock  %}

{% block sprincipal %}

{% endblock  %}


{% block topbar %}
{% include'elements/include_style/topbar.html'%}
{% endblock  %}

{% block menusidebar %}
{% include'elements/include_style/menusidebar.html'%}
{% endblock  %}

{% block body %}


<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12">
                <h3 class="content-header-title">Rapport</h3>
            </div>
            <div class="content-header-right col-md-8 col-12 mb-4">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">  {{current_user.role}} </a>
                            </li>
                            <li class="breadcrumb-item active">Rapport des ventes
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">

            <div class="basic-inputs">
                <div class="row match-height">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="card-body">
                                    {% with messages= get_flashed_messages(with_categories=true) %}
                                    {% if messages  %}
                                    {% for category, message in messages %}
                                    {%if category!="danger"%}
                                    <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2"
                                        role="alert">
                                        <span class="alert-icon">
                                            <i class="ft-thumbs-up"></i>
                                        </span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>{{ message }}!</strong>

                                    </div>
                                    {%else%}
                                    <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2"
                                        role="alert">
                                        <span class="alert-icon">
                                            <i class="ft-thumbs-down"></i>
                                        </span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>{{ message }}!</strong>

                                    </div>
                                    {%endif%}

                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}


                                    <div class="card" style="zoom: 1;">
                                        <div class="card-header">
                                            <h4 class="card-title">Rapport de vente des boutiques </h4>
                                            <a class="heading-elements-toggle"><i
                                                    class="la la-ellipsis-v font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-content collapse show">
                                            <div class="card-body">
                                                <div class="mb-2">
                                                    
                                                    <a href="{{url_for('vente.admin_vente')}} "
                                                        class="btn btn-primary"><i  class="la la-shopping-cart"></i>Vente mois encours
                                                    </a>
                                                    <a href="{{url_for('vente.trier_rapport')}} "
                                                        class="btn btn-success"><i  class="la la-filter"></i> Vente par filtrage
                                                    </a>
                                                </div>
                                            </div>
                                            {%if avant_filtre !=None%}
                                            <h5>  Filtrée pour : {%if date_operation !=None %}  <b>{{date_operation}}</b> {%endif%} - <b>{{btq_operation}}</b> : </h5>
                                            {%endif%}
                                            <fieldset class="scheduler-border">
                                                <legend class="scheduler-border">Vente filtrée:</legend>
                                                <div>
                                                    <div class="pull-left mb-2">
                                                        <a href="" data-toggle="modal" data-target="#filtre"
                                                            class="btn btn-sm btn-dark"><i  class="la la-filter"></i> Filtrer
                                                        </a>
                                                        <a href="" data-toggle="modal" data-target="#plage"
                                                            class="btn btn-sm btn-primary"><i  class="la la-filter"></i> Plage de filtrage
                                                        </a>
                                                    </div>
                                                    <div class="pull-right  mb-2">
                                                        {%if avant_filtre != None%}
                                                        {%if vente_global[0] !=0%}
                                                            <a href=" {{url_for('vente.impri_trier_rapport')}} " target="_blank" class="btn btn-sm btn-success"> 
                                                                <i class="la la-print"></i> 
                                                            </a>
                                                        {%endif%}
                                                        {%endif%}
                                                    </div>
                                                </div>
                                                {%if avant_filtre != None%}
                                                {%if vente_global[0] ==0%}
                                                <p class="text-center" style="margin-top:100px">
                                                    <i class="la la-money success font-large-5 text-center"></i>
                                                    <h4 class="text-center">AUCUN RAPPORT DE VENTE SUR CETTE PERIODE.</h4>
                                                    <br><br><br><br><br><br>
                                                </p>
                                                {%else%}
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr class="text-center" >
                                                                <th scope="col">Date</th>
                                                                <th scope="col">Code</th>
                                                                <th scope="col">Montant</th>
                                                                <th scope="col">Valeur en stock</th>
                                                                <th scope="col">Profit</th>
                                                                <th scope="col">Type vente </th>
                                                                <th scope="col">Boutique</th>
                                                                <th scope="col">Par</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            {%if cash|count() > 0 %}
                                                            <tr class="text-center">
                                                                <th colspan="8"><h4>Vente de cash</h4> </th>
                                                            </tr>
                                                            {%endif%}
                                                            {%for cash in cash%}
                                                            <tr class="text-center">
                                                                <td><b>{{cash[8].strftime('%d-%m-%Y')}} </b></td>
                                                                <td> <span class="badge badge-pill badge-warning"> 
                                                                    {%if cash[2]==False and cash[9]==None%}  
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture',facture=cash[0])}} ">{{cash[1]}}</a> </span> 
                                                                    {%elif cash[2]==True and cash[9]==None%}
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture_gros',facture=cash[0])}} ">{{cash[1]}}</a> </span> 
                                                                    {%elif cash[10]==True and cash[2]==False and cash[9]!=None%} 
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture_paye',facture=cash[9])}} ">{{cash[1]}}</a> </span> 
                                                                    {%elif cash[10]==True and cash[2]==True and cash[9]!=None%}
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture_gros_paye',facture=cash[9])}} ">{{cash[1]}}</a> </span>                                                  
                                                                    {%endif%} 
                                                                </td>  

                                                                

                                                                <td>${{cash[3]|round(2)}}</td>
                                                                <td>${{cash[4]|round(2)}}</td>
                                                                {%if cash[5] < 0 %}
                                                                <td class="danger">$ {{cash[5]|round(2)}}</td>
                                                                {%else%}
                                                                <td>${{cash[5]|round(2)}}</td>
                                                                {%endif%}
                                                                <td>
                                                                    {%if cash[2]==False %}
                                                                        <span class="badge badge-pill badge-warning">Cash en detaille </span>
                                                                    {%elif cash[2]==True %}
                                                                        <span class="badge badge-pill badge-info">Cash en gros </span>
                                                                    {%endif%}
                                                                </td>
                                                                <td>{{cash[6]}}</td>
                                                                <td>{{cash[7]}}</td>
                                                            </tr>
                                                            {%endfor%}

                                                            <!-- DETTE EN DU MOIS -->


                                                            {%if dette|count() > 0 %}
                                                            <tr class="text-center">
                                                                <th colspan="8"><h4>Vente en dette</h4> </th>
                                                            </tr>
                                                            {%endif%}
                                                            {%for dette in dette%}
                                                            <tr class="text-center">
                                                                <td><b>{{dette[8].strftime('%d-%m-%Y')}} </b></td>

                                                                <td> <span class="badge badge-pill badge-warning"> 
                                                                    {%if dette[2]==False%}   
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture_paye',facture=dette[0])}} ">{{dette[1]}}</a> </span> 
                                                                    {%else%}
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture_gros_paye',facture=dette[0])}} ">{{dette[1]}}</a> </span> 
                                                                    {%endif%}  
                                                                </td> 

                                                                <td>${{dette[3]|round(2)}}</td>
                                                                <td>${{dette[4]|round(2)}}</td>
                                                                {%if dette[5] < 0 %}
                                                                <td class="danger">$ {{dette[5]|round(2)}}</td>
                                                                {%else%}
                                                                <td>${{dette[5]|round(2)}}</td>
                                                                {%endif%}
                                                                <td>
                                                                    {%if dette[2]==False %}
                                                                        <span class="badge badge-pill badge-warning">Dette en detaille </span>
                                                                    {%elif dette[2]==True %}
                                                                        <span class="badge badge-pill badge-info">Dette en gros </span>
                                                                    {%endif%}
                                                                </td>
                                                                <td>{{dette[6]}}</td>
                                                                <td>{{dette[7]}}</td>
                                                            </tr>
                                                            {%endfor%}

                                                            <!-- ACOMPTE DU MOIS -->


                                                            {%if acompte|count() > 0 %}
                                                            <tr class="text-center">
                                                                <th colspan="8"><h4>Vente en acompte</h4> </th>
                                                            </tr>
                                                            {%endif%}
                                                            {%for acompte in acompte%}
                                                            <tr class="text-center">
                                                                <td><b>{{acompte[8].strftime('%d-%m-%Y')}} </b></td>

                                                                <td> <span class="badge badge-pill badge-warning"> 
                                                                    {%if acompte[2]==False and acompte[9]==None%}  
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture',facture=acompte[0])}} ">{{acompte[1]}}</a> </span> 
                                                                    {%elif acompte[2]==True and acompte[9]==None%}
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture_gros',facture=acompte[0])}} ">{{acompte[1]}}</a> </span> 
                                                                    {%elif acompte[10]==True and acompte[2]==False and acompte[9]!=None%} 
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture_paye',facture=acompte[9])}} ">{{acompte[1]}}</a> </span> 
                                                                    {%elif acompte[10]==True and acompte[2]==True and acompte[9]!=None%}
                                                                    <a  target="_blank" href=" {{url_for('vente.voir_facture_gros_paye',facture=acompte[9])}} ">{{acompte[1]}}</a> </span>                                                  
                                                                    {%endif%} 
                                                                </td> 

                                                                <td>${{acompte[3]|round(2)}}</td>
                                                                <td>${{acompte[4]|round(2)}}</td>
                                                                {%if acompte[5] < 0 %}
                                                                <td class="danger">$ {{acompte[5]|round(2)}}</td>
                                                                {%else%}
                                                                <td>${{acompte[5]|round(2)}}</td>
                                                                {%endif%}
                                                                <td>
                                                                    {%if acompte[2]==False %}
                                                                        <span class="badge badge-pill badge-warning">Acompte en detaille </span>
                                                                    {%elif acompte[2]==True %}
                                                                        <span class="badge badge-pill badge-info">Acompte en gros </span>
                                                                    {%endif%}
                                                                </td>
                                                                <td>{{acompte[6]}}</td>
                                                                <td>{{acompte[7]}}</td>
                                                            </tr>
                                                            {%endfor%}
                                                            <tr>
                                                                <th colspan="8"></th> 
                                                            </tr>
                                                            <tr class="text-center">
                                                                <th colspan="2"><h4>Vente globale</h4></th>
                                                                <td><h4>$ {{vente_global[0]|round(2)}}</h4>  </td>
                                                                <td><h4>$ {{vente_global[1]|round(2)}}</h4></td>
                                                                {%if vente_global[2] < 0 %}
                                                                <td class="danger"><h4>$ {{vente_global[2]|round(2)}}</h4></td>
                                                                {%else%}
                                                                <td><h4>$ {{vente_global[2]|round(2)}}</h4></td>
                                                                {%endif%}
                                                                <th class="bg-dark" colspan="3"></th>
                                                                
                                                            </tr>
                                                            <tr class="text-center">
                                                                <th colspan="2" class="primary"><h3>Encaissement</h3></th>
                                                                <td><h3 class="primary">$ {{cash_caisse[0]|round(2)}}</h3>  </td>
                                                                <td><h3 class="primary">$ {{cash_caisse[1]|round(2)}}</h3></td>
                                                                {%if cash_caisse[2] < 0 %}
                                                                <td><h3 class="danger">$ {{cash_caisse[2]|round(2)}}</h3></td>
                                                                {%else%}
                                                                <td><h3 class="primary">$ {{cash_caisse[2]|round(2)}}</h3></td>
                                                                {%endif%}
                                                                <th class="bg-dark" colspan="3"></th>
                                                                
                                                            </tr>

                                                        </tbody>
                                
                                                    </table>
                                                </div>
                                                {%endif%}
                                                {%else%}
                                                <p class="text-center" style="margin-top:100px">
                                                    <i class="la la-filter primary font-large-5 text-center"></i>
                                                    <h4 class="text-center">EFFECTUER UN TRIAGE.</h4>
                                                    <br><br><br><br><br><br>
                                                </p>
                                                {%endif%}

                                                

                                            </fieldset>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



</div>






<div class="modal fade" id="filtre" role="dialog" style="margin-top: 100px;">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Trier par boutique et date</h4>
            </div>
            <div class="modal-body">
                <form method="POST">

                    {{ trier.csrf_token }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Boutique</label>
                                {% if trier.boutique_trie.errors %}
                                {{ trier.boutique_trie(class="form-control input-md is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in trier.boutique_trie.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ trier.boutique_trie(class="form-control input-md")}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Trie journalier</label>
                                {% if trier.date_journalier.errors %}
                                {{ trier.date_journalier(class="form-control input-md is-invalid", id="datemask")}}
                                <div class="invalid-feedback">
                                    {% for error in trier.date_journalier.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ trier.date_journalier(class="form-control input-md", id="datemask")}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Trie mensuel</label>
                                {% if trier.date_mensuel.errors %}
                                {{ trier.date_mensuel(class="form-control input-md is-invalid", id="datemmask1")}}
                                <div class="invalid-feedback">
                                    {% for error in trier.date_mensuel.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ trier.date_mensuel(class="form-control input-md", id="datemmask1")}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Trie annuel</label>
                                {% if trier.date_annuel.errors %}
                                {{ trier.date_annuel(class="form-control input-md is-invalid", placeholder="aaaa")}}
                                <div class="invalid-feedback">
                                    {% for error in trier.date_annuel.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ trier.date_annuel(class="form-control input-md", placeholder="aaaa")}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <p><small>* Attention, le triage est sur une seule requête de la date</small></p>

                    <div class="text-center mb-1">
                        <button class="btn btn-dark btn-min-width mr-1 mb-1" id="submit"
                             name="submit" type="submit">
                            <i class="la la-filter"></i> Trier</button>
                        <a data-dismiss="modal" class="btn btn-min-width mr-1 mb-1 btn-danger"><i class="la la-close"></i> Fermer </a>
                    </div>

                    


                </form>

                

            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="plage" role="dialog" style="margin-top: 100px;">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Trier par boutique et plage de date</h4>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ plage.csrf_token }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Boutique</label>
                                {% if plage.boutique_triage.errors %}
                                {{ plage.boutique_triage(class="form-control input-md is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in plage.boutique_triage.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ plage.boutique_triage(class="form-control input-md")}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date du début</label>
                                {% if plage.date_journalier_une.errors %}
                                {{ plage.date_journalier_une(class="form-control input-md is-invalid", id="datemasku")}}
                                <div class="invalid-feedback">
                                    {% for error in plage.date_journalier_une.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ plage.date_journalier_une(class="form-control input-md", id="datemasku")}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date de la fin</label>
                                {% if plage.date_journalier_deux.errors %}
                                {{ plage.date_journalier_deux(class="form-control input-md is-invalid", id="datemaskd")}}
                                <div class="invalid-feedback">
                                    {% for error in plage.date_journalier_deux.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ plage.date_journalier_deux(class="form-control input-md", id="datemaskd")}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <p><small>* Attention, le triage des dates recommande les deux dates à la fois.</small></p>

                    <div class="text-center mb-1">
                        <button class="btn btn-dark btn-min-width mr-1 mb-1" id="submit"
                             name="submit" type="submit">
                            <i class="la la-filter"></i> Trier par plage</button>
                        <a data-dismiss="modal" class="btn btn-min-width mr-1 mb-1 btn-danger"><i class="la la-close"></i> Fermer </a>
                    </div>
                </form>

                

            </div>
        </div>

    </div>
</div>

{% endblock  %}









{% block footer %}
{% include'elements/include_style/footer.html'%}
{% endblock  %}




{% block pfooter %}

<script type="text/javascript" src="{{ url_for('static', filename='dashboard/vendors/js/vendors.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/vendors/js/charts/chart.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-menu-lite.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app-lite.js')}}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static',filename='dashboard/select2/select2.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='dashboard/select2/scripts.js')}}"></script> -->

<script src="{{ url_for('static',filename='dashboard/input-mask/jquery.inputmask.js')}} "></script>
<script src="{{ url_for('static',filename='dashboard/input-mask/jquery.inputmask.date.extensions.js')}} "></script> 
<script src="{{ url_for('static',filename='dashboard/input-mask/jquery.inputmask.extensions.js')}} "></script> 
<script>
    $(function () {      
      //Datemask dd/mm/yyyy
      $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'jj/mm/aaaa' })
      //Datemask dd/mm/yyyy
      $('#datemmask1').inputmask('mm/yyyy', { 'placeholder': 'mm/aaaa' })
      //Datemask2 mm/dd/yyyy
       $('#datemasku').inputmask('dd/mm/yyyy', { 'placeholder': 'jj/mm/aaaa' })
       $('#datemaskd').inputmask('dd/mm/yyyy', { 'placeholder': 'jj/mm/aaaa' })
    })
  
    
</script>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
</script>


{% endblock  %}