<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Gestion Lambda Multi-domaine">
    <meta name="keywords" content="Gestion, Lambda, Administration Gestion Lambda">
    <meta name="author" content="Gestion Lambda">
    {% if title %}
        <title>  {{ title }} </title>
    {% else %}
    <title>  {{current_user.user_entreprise.denomination}}</title>
    {% endif %}
    {% block header %}
        {% block hprincipal %}{% endblock  %}
        {% block sprincipal %}{% endblock  %}        
    {% endblock  %}
    <link rel="apple-touch-icon" href="theme-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="theme-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    
    
  </head>
  <body>

    <!-- contenu -->
    {% block body %}{% endblock  %} 


    {% block jsfooter %}
        {% block pfooter %}{% endblock  %} 
        {% block sfooter %}{% endblock  %} 
    {% endblock  %} 
    
  </body>
</html>